apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: 792302461774.dkr.ecr.eu-north-1.amazonaws.com/auth-service:latest
        ports:
        - containerPort: 80
