apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: payment-service
        image: 792302461774.dkr.ecr.eu-north-1.amazonaws.com/payment-service
        ports:
        - containerPort: 80
        env:
        - name: DB_HOST
          value: "database-1.c1ei8g4sk3j5.eu-north-1.rds.amazonaws.com"
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: "postgres"
        - name: DB_USER
          value: "postgres"
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: product-db-secret
              key: password
