apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.containerPort }}
          env:
            - name: REACT_APP_AUTH_URL
              value: {{ .Values.env.REACT_APP_AUTH_URL | quote }}
            - name: REACT_APP_PRODUCT_URL
              value: {{ .Values.env.REACT_APP_PRODUCT_URL | quote }}
            - name: REACT_APP_CART_URL
              value: {{ .Values.env.REACT_APP_CART_URL | quote }}
            - name: REACT_APP_ORDER_URL
              value: {{ .Values.env.REACT_APP_ORDER_URL | quote }}
            - name: REACT_APP_PAYMENT_URL
              value: {{ .Values.env.REACT_APP_PAYMENT_URL | quote }}
